<div class="container">

<!-- <input type="text" [value]="appTextBox | json">  -->
<input type="search" name="search" placeholder="Search.." #search (keyup)="0"><br><br>
<table #opFormTable class="table table-striped" border="2" >
        
        <th>Name</th><th>Category</th><th>Description</th><th>Action</th>
       <tr *ngFor="let item of getAdfromService() | search:search.value" >
            <td>{{item.newName}}</td> 
            <td>{{item.newCat}}</td>
            <td>{{item.newDesc}}</td>
            <td><a href="Edit"><input type="button" value="Edit"></a>
     <a><input type="button" value="Delete" (click)="deleterow(item)"></a></td>
        </tr>  
     
    
</table>

</div>