<div class="container">
     <span onclick="document.getElementById('id03').style.display='none'" class="close" title="Close Modal">&times;</span>
    <h1 style="text-align: center; background-color: #888888;">Post Advertisement</h1>
    <div class="bs-example">
        <form #productForm="ngForm" (ngSubmit)="onSubmit(productForm.value)" novalidate>
            <div class="form-group">
                <label for="inputEmail" class="control-label col-xs-2">Title:</label>
                <div class="col-xs-10">
                    <input type="text" name="title" required minlength="3" maxlength="15" class="form-control" name="title" placeholder="Title" #titleModelRef="ngModel" ngModel><br>
                    <div *ngIf="titleModelRef.errors && titleModelRef.touched" class="alert alert-danger">
                    <div [hidden]="!titleModelRef.errors.required" >Please enter Title </div>
                    <div [hidden]="!titleModelRef.errors.minlength"> Title length should be minimum 3 
                    characters </div>
                    <div [hidden]="!titleModelRef.errors.maxlength"> Title length should be maximum 15
                    characters </div>
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <label for="text" class="control-label col-xs-2">Name:</label>
                <div class="col-xs-10">
                    <input type="text" name="name" required minlength="3" maxlength="15" class="form-control" id="inputPassword" placeholder="Name" #nameModelRef="ngModel" ngModel><br>
                    <div *ngIf="nameModelRef.errors && nameModelRef.touched" class="alert alert-danger">
                    <div [hidden]="!nameModelRef.errors.required" >Please enter your Name </div>
                    <div [hidden]="!nameModelRef.errors.minlength"> Name length should be minimum 3 
                    characters </div>
                    <div [hidden]="!nameModelRef.errors.maxlength"> Name length should be maximum 15
                    characters </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="text" class="control-label col-xs-2">Category:</label>
                <div class="col-xs-10">
                    <select name="Category" required style="padding-top:10px" class="form-control" #CategoryModelRef="ngModel" ngModel><br>
                        
                        <option value="select">--select--</option>
                        <option value="Cloths">Cloths</option>
                        <option value="Furniture">Furniture</option>
                        <option value="Mobile">Mobile</option>
                        <option value="Real Estate">Real Estate</option>
                    <div *ngIf="CategoryModelRef.errors && CategoryModelRef.touched" class="alert alert-danger">
                    <div [hidden]="!CategoryModelRef.errors.required" >Please enter your Name </div>
                    </div>
                    </select><br>
                </div>
            </div>

            <div class="form-group">
                <label for="text" class="control-label col-xs-2">Product Description:</label>
                <div class="col-xs-10">
                    <textarea input type="text" name="desc" required minlength="10" maxlength="100" class="form-control" rows="5" id="comment"  #descModelRef="ngModel" ngModel></textarea>
                    <div *ngIf="descModelRef.errors && descModelRef.touched" class="alert alert-danger">
                    <div [hidden]="!descModelRef.errors.required" >Please enter description of Product </div>
                    <div [hidden]="!descModelRef.errors.minlength">Description length should be minimum 10 
                    characters </div>
                    <div [hidden]="!descModelRef.errors.maxlength">Description length should be maximum 100
                    characters </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-10"><br>
                    <button [disabled]="!productForm.form.valid" type="submit" class="btn btn-primary" style="background-color: #333">Submit</button>
                </div>
            </div>


        </form>
    </div>
</div>