 <div class="container">

 
<div> 
     <h1>Search</h1>
<div class="row">
            <div class="col-xs-6">
                <div class="input-group">
                    <input type="text" #search class="form-control" (keyup)="0" placeholder="Search&hellip;">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default">Go</button>
                    </span>
                </div>
            </div>
     <hr>
        <table border="1" style="padding:10px">
        <tbody>
            <tr>
                    <th style="padding:10px">Name</th>
                    <th style="padding:10px">Category</th>
                    <th style="padding:10px">Price</th>
                    <th style="padding:10px">Description</th>
                     <th style="padding:10px">Action</th>
            </tr>
            <tr *ngFor="let prod of displayAd() | search:search.value; let i=index">
               <td>{{prod.name}}</td>
                <td>{{prod.category}}</td>
                <td>Rs.{{prod.price}}</td>
                <td>{{prod.desc}}</td>
                <td>
                    <button type="button" class="btn btn-primary" (click)="deleteObject(i)" value=prod.name> DELETE </button>
                    <button type="button" class="btn btn-primary" (click)="editProduct()"> UPDATE </button>
                </td>
            </tr>
             
        </tbody>
    </table>
</div>

</div>
 </div>
